
  body {
    background-color: rgb(53, 53, 53);
    background-image: url("/pictures/chalkboard.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 70%;
}